body {
  background-color: rgb(216, 226, 197)
}
h1 {
  text-align: center;
}
.menuPrincipal {
   position: relative;
   width: 100%;
   height: 45px;
   background: rgb(184, 252, 198);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: 0%;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(32, 47, 59);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{

  color: black;
  background: rgb(200, 200, 245);
}

#dedo{
  width: 15%;
}
.caixadedo{
  position: absolute;
  top: 45px;
  left: 0%;
  width: 90%;
  height: 155;
  background-color: rgb(252, 255, 205);
  margin: 20px;
  border-width: 20px;
  border-color: blue;
  border-style: solid;
  padding: 20px;
  display: flex;
  justify-content: center;
}